@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
    background-image: url("../img/fondblog.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

ul {
    margin:0;
    padding:0;
}

ul li {
    display:inline-block;
    margin-left: 30px;
}

ul li a {
    text-decoration: none;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}

.accueil1:hover {
    color:#d6287c;

}
.inscription:hover {
    color:#007EC6;
}

.login:hover {
    color:#E25600;
}

.contact:hover {
    color:#4E7F00;
}
div#main {
    width:960px;
    margin:auto;
    text-align: center;
    height: auto;
    background-color: rgba(220,220,220,0.45);
    
}

footer {

    background-color: grey;
}

main {
    min-height: 500px;
}

.nom {
    height:30px;
}

.prenom {
    height:30px;
}

.email {
    height:30px;
}

.password {
    height:30px;
}

.bouton {
    margin-top:50px;
}

input {
    border-radius: 3px;
}

form div label {
    float:left;
    width:100px;
}

p{
    text-align: justify;

}

.titre {
    text-decoration: none;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

.titre:hover {
    color:#AB0022;
}

.chapo {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}

.accueil {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
    margin-bottom: 50px;
}

.recherche{
margin-top: 50px;
    margin-left:650px;
}

.web {
    text-decoration: none;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}
.web:hover {
    color: #FAD7A4;
}

.informatique {
    text-decoration: none;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}

.informatique:hover {
    color:#FAD7A4;
}

.flux {
    text-decoration: none;
    color:black;
    text-align: left;
}

.article {
    background-color: snow;
}

.rechercher {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    border: 1px solid #b7b7b7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal 16px/normal "Times New Roman", Times, serif;
    /*color: rgba(0,142,198,1);*/
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(255,255,255,1);
    -webkit-box-shadow: 1px 1px 1px 0 rgba(132,128,128,1) inset;
    box-shadow: 1px 1px 1px 0 rgba(132,128,128,1) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.forminscription {
    margin-top:25px;
}

.formlogin {
    margin-top: 25px;
}

fieldset {
    margin-top: 30px;
    margin-bottom: 30px;
}

.forgetpass {
    text-align: center;
}

.forgetpassa {
    text-decoration: none;
    color:black;
}

.forgetpassa:hover {
    color:#DFA5D7;
}

.email2 {
    margin-top: 25px;
}

.sujet {
    margin-top: 25px;
}

.message2 {
    margin-top: 25px;
}

.btncontact {
    margin-top: 25px;
}